# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Data science Tool    
* Some of the popular languages that Data Scientists use
* Commonly used libraries used by Data Scientists
* Evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. Scala
3. R
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Tensorflow
2. Matplotlib
3. Numpy
4. Scipy

| Data Science Tools | 
|--------------------|
|Jupyter notebook |
| Rstudio |
| spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
#This a simple arithmetic expression to mutiply then add integers#
print  (3*4+5)

17

In [13]:
#This will convert 200 minutes to hours by diving by 60#
200/60

3.3333333333333335

## Author 
Ahtusham mahmood